.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.item-details {
  margin-top: 1rem;
  padding: 2rem;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #fefefe;
  -webkit-box-shadow:
    12px 12px 24px #d8d8d8,
    -12px -12px 24px #fff;
  box-shadow:
    12px 12px 24px #d8d8d8,
    -12px -12px 24px #fff;
}
